body {
	margin-top: 20px;
	padding: 20px;
}

body .modal {
	width: 450px;
	margin: -195px 0 0 -225px;
}

h1 {
	padding-bottom: 5px;
}

.btn {
	vertical-align: middle;
}

.btn-group {
	vertical-align: middle;
}

.nav-header {
	color: #000;
}

.nav-list a {
	color: #000 !important;
}

.nav-list .active a {
	background-color: #ff0 !important;
	color: #000 !important;
}

.left-align {
	text-align: left !important;
}

.logo {
	margin-bottom: 10px;
}

.welcome {
	padding-top: 10px;
}

.logout {
	margin-top: 25px;
}

.criteria {
	margin-bottom : 15px;
}

.footer {
	font-size: 10pt;
	color: #C4C4C4;
	text-align: center;
	padding-top: 30px;
}

.row {
	display : block;
	vertical-align: text-bottom;
	margin-left: 0;
}

.small {
	font-size: smaller;
}
